
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Шаурма</title>
</head>
<body>
    <nav class="flex justify-between text-3xl my-5">
        <ul class="flex ml-10">
            <li>Шаурма на углях</li>
        </ul>
        {% extends "menu.html" %}

        {% block content %}

        {% endblock %}
        <ul class="flex gap-5 mr-10">
            <button onclick="goToCheckout()" class="border-1 bg-white-300 flex gap-5 mr-10 p-0">Корзина</button>
            <button onclick="clickOnProfile()" class="border-1 bg-white-300 flex gap-5 mr-10 p-0">Профиль</button>
        </ul>
    </nav>
    <hr>
    <div id="content">
    </div>
</body>
</html>