
<div class="flex rounded-2 border-1 p-0 mt-1">
            <div class="flex flex-col">
                <a href="/pages/shawarma"><button onclick="searchForOperation()" class="border-1 bg-white-300 text-2xl font-bold p-0">Шаурма</button></a>
            </div>
        </div>
        <div class="flex rounded-3 border-1 p-0 mt-1">
            <div class="flex flex-col">
                <a href="/pages/snacks"><button onclick="goToSnacks()" class="border-1 bg-white-300 text-2xl font-bold p-0">Закуски</button></a>
            </div>
        </div>
        <div class="flex rounded-3 border-1 p-0 mt-1">
            <div class="flex flex-col">
                <a href="/pages/contact"><button onclick="contactInfo()" class="border-1 bg-white-300 text-2xl font-bold p-0">Контактная информация</button></a>
            </div>
        </div>
        <ul class="flex gap-5 mr-10">
            <a href="/pages/checkout"><button onclick="goToCheckout()" class="border-1 bg-white-300 flex gap-5 mr-10 p-0">Корзина</button></a>
            <a href="/pages/profile"><button onclick="clickOnProfile()" class="border-1 bg-white-300 flex gap-5 mr-10 p-0">Профиль</button></a>
        </ul>
